In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('resumen_resultados.csv')
df

         tiempo       fitness instancia  depots  cars  max_capacity
0    152.725380    612.481382   p01.dat       4    11          80.0
1     62.485063    527.644703   p02.dat       4     6         155.0
2    229.113714    706.693805   p03.dat       5    11         139.0
3    609.565716   1142.535285   p04.dat       2    16         100.0
4    606.809597   1067.330451   p05.dat       2     8         197.0
5    346.065173   1066.818328   p06.dat       3    17          99.0
6    504.050608   1113.432274   p07.dat       4    16         100.0
7   2395.801932   8601.383669   p08.dat       2    26         500.0
8   3069.914352   9299.957168   p09.dat       3    26         500.0
9   2350.168973   7222.572416   p10.dat       4    26         500.0
10  2287.812245   7320.934698   p11.dat       5    26         500.0
11   387.909951   1671.511964   p12.dat       2     8          60.0
12   274.924995   1646.196432   p13.dat       2     8          60.0
13   357.999647   1693.347221   p14.dat       2     8          60.0
14  1144.696454   4348.361789   p15.dat       4    17          60.0
15  1142.520368   4557.559469   p16.dat       4    16          60.0
16  1138.425041   3957.745246   p17.dat       4    16          60.0
17  2146.151417   7621.214849   p18.dat       6    24          60.0
18  2137.110048   8796.169377   p19.dat       6    24          60.0
19  2142.533788   8087.237229   p20.dat       6    25          60.0
20  4198.397518  21293.992072   p21.dat       9    37          60.0
21  4193.393871  21868.755004   p22.dat       9    35          60.0
22  4240.448595  21443.327308   p23.dat       9    37          60.0
23    11.932716    207.473606  pfbo.dat       4     6          37.0

In [3]:
for i in range(0,len(df['fitness'])):
    df['fitness'][i] = str(df['fitness'][i]).replace('.', ',')
    df['tiempo'][i] = str(df['tiempo'][i]).replace('.', ',')
    
df

C:\Users\acost\AppData\Local\Temp\ipykernel_28544\1930542574.py:2: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df['fitness'][i] = str(df['fitness'][i]).replace('.', ',')
C:\Users\acost\AppData\Local\Temp\ipykernel_28544\1930542574.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['fitness'][i] = str(df['fitness'][i]).replace('.', ',')
C:\Users\acost\AppData\Local\Temp\ipykernel_28544\1930542574.py:2: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '612,4813822098977' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df['fitness'][i] = str(df['fitness'][i]).replace('.', ',')
C:\Users\acost\AppData\Local\Temp\ipykernel_28544\1930542574.py:3: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df['tiempo'][i] = str(df['tiempo'][i]).replace('.', ',')
C:\Users\acost\AppData\Local\Temp\ipykernel_28544\1930542574.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['tiempo'][i] = str(df['tiempo'][i]).replace('.', ',')
C:\Users\acost\AppData\Local\Temp\ipykernel_28544\1930542574.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '152,7253804206848' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df['tiempo'][i] = str(df['tiempo'][i]).replace('.', ',')

,tiempo,fitness,instancia,depots,cars,max_capacity
0,"152,7253804206848","612,4813822098977",p01.dat,4,11,80.0
1,"62,48506307601929","527,6447034280221",p02.dat,4,6,155.0
2,"229,11371445655823","706,6938054159936",p03.dat,5,11,139.0
3,"609,5657157897949","1142,5352849925791",p04.dat,2,16,100.0
4,"606,809597492218","1067,330451087273",p05.dat,2,8,197.0
5,"346,0651731491089","1066,818327685098",p06.dat,3,17,99.0
6,"504,05060839653015","1113,432274041735",p07.dat,4,16,100.0
7,"2395,8019323349","8601,38366850482",p08.dat,2,26,500.0
8,"3069,9143521785736","9299,957168385516",p09.dat,3,26,500.0
9,"2350,1689727306366","7222,572416305981",p10.dat,4,26,500.0
10,"2287,812245368957","7320,934697610834",p11.dat,5,26,500.0
11,"387,9099509716034","1671,5119636059562",p12.dat,2,8,60.0
12,"274,9249949455261","1646,1964318306962",p13.dat,2,8,60.0
13,"357,99964714050293","1693,3472205866046",p14.dat,2,8,60.0
14,"1144,6964535713196","4348,3617886951015",p15.dat,4,17,60.0
15,"1142,5203676223755","4557,559469311833",p16.dat,4,16,60.0
16,"1138,425040960312","3957,745245595606",p17.dat,4,16,60.0
17,"2146,1514172554016","7621,214849440378",p18.dat,6,24,60.0
18,"2137,11004781723","8796,169377444943",p19.dat,6,24,60.0
19,"2142,533787727356","8087,237229353288",p20.dat,6,25,60.0
20,"4198,397518396378","21293,99207156217",p21.dat,9,37,60.0
21,"4193,393870592117","21868,75500429785",p22.dat,9,35,60.0
22,"4240,448595046997","21443,32730825331",p23.dat,9,37,60.0
23,"11,932715892791748","207,47360642696847",pfbo.dat,4,6,37.0